<!-- summary.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <title>Checkout Summary</title>
</head>
<body>
	<div layout:fragment="content">
    <h1>Checkout Summary</h1>
    
    <table style="border-collapse: separate; border-spacing: 0 10px; width: 50%; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item, itemIndex : ${cart.items}" style="background-color: #fff; border-radius: 10px;">
				<td style="padding: 10px;"> <!-- Adjust padding as needed -->
                    <span th:text="${item.product.productName}"></span>
                </td>
                <td style="padding: 10px;"> <!-- Adjust padding as needed -->
                    <span th:text="${item.product.price}"></span>
                </td>
                <td style="padding: 10px;"> <!-- Adjust padding as needed -->
                    <span th:text="${item.quantity}"></span>
                </td>
                <td style="padding: 10px;"> <!-- Adjust padding as needed -->
                    <span th:text="${item.product.price * item.quantity}"></span>
                </td>
            </tr>
        </tbody>
    </table>
    
    <p>Total Price: <span th:text="${totalPrice}"></span></p>

    <form th:action="@{/cart/confirm}" method="post">
        <button type="submit" style="margin-top: 10px; padding: 5px 10px; border: none; border-radius: 5px; background-color: #007bff; color: #fff; cursor: pointer;">Confirm Checkout</button>
    </form>
    </div>
</body>
</html>
