<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<body>
		<div layout:fragment="content">
			<form th:action="@{/products/createdProducts}" th:object="${createdProducts}" method="post">
				<h2>Products Created by User</h2>

				<!-- Check if there are products -->
				<th:block th:if="${not #lists.isEmpty(products)}">
					<table style="border-collapse: separate; border-spacing: 0 10px; width: 50%; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Price</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<!-- Iterate over the list of products -->
							<tr th:each="product : ${products}" style="background-color: #fff; border-radius: 10px;">
								<td style="padding: 10px;"> <!-- Adjust padding as needed -->
									<span th:text="${product != null ? product.productId : ''}"></span>
								</td>
								<td style="padding: 10px;"> <!-- Adjust padding as needed -->
									<span th:text="${product.productName}"></span>
								</td>
								<td style="padding: 10px;"> <!-- Adjust padding as needed -->
									<span th:text="${product.price}"></span>
								</td>
								<td style="padding: 10px;"> <!-- Adjust padding as needed -->
									<span th:text="${product.description}"></span>
								</td>
								<td style="padding: 10px;"> <!-- Adjust padding as needed -->
									<a th:if="${product != null}" th:href="@{/products/{id}/updateProduct(id=${product.productId})}" style="text-decoration: none; color: #007bff;">Update Product</a>
									<a th:if="${product != null}" th:href="@{/products/{id}/deleteProduct(id=${product.productId})}" style="text-decoration: none; color: #dc3545; margin-left: 10px;">Delete Product</a>
								</td>
							</tr>
						</tbody>
					</table>
				</th:block>

				<!-- If no products are available -->
				<th:block th:if="${#lists.isEmpty(products)}">
					<p>No products created yet.</p>
				</th:block>
				<br><br>
				<!-- Link to the doCreate page -->
				<div style="border-collapse: separate; border-spacing: 0 10px; width: 10%; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
					<a th:href="@{/products/doCreate}"
   						style="text-decoration: none; color: rgb(0, 128, 192); font-weight: bold;">Create a new product</a><br>
				</div>
				

			</form>
		</div>
	</body>
</html>
